* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* SECCION LOGO HOTEL */

.container-logo {
    width: 100%;
    height: 300px;
}

.container-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width:768px) {
    .container-logo {
        display: none;
    }
}

/* BARRA NAVEGACION */

nav {
    background-color: #A9794C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.548);
    color: white;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.lista-nav li {
    width: 70px;
}


.lista-nav a {
    font-size: 1.1rem;
    cursor: pointer;
    padding: 20px 15px;
    transition: 0.5s;
    color: white;
}

.lista-nav a:hover {
    color: #f1c40f;
    border-bottom: 4px #f1c40f solid;
    transition: 0.5s;
}

.burger-menu {
    color: #f1c40f;
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    nav {
        width: 100%;
        padding: 1.2rem 1rem;
        position: fixed;
        margin-top: -20px;
        z-index: 1;
    }

    nav ul {
        position: fixed;
        background-color: #A9794C;
        flex-direction: column;
        top: 80px;
        align-items: flex-start;
        margin: 5px;
        left: 1px;
        width: 100%;
        text-align: center;
        transform: translateX(-120%);
    }

    nav ul li {
        margin: 10px;
    }

    .burger-menu {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
        transition: transform 0.5s ease-in;

    }
}

@media(max-width:700px) {
    .barra-nav ul {
        display: none;

    }
}

/* SECCION PRINCIPAL */

.separacion {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

hr {
    height: 1px;
    border: none;
    background-color: #A9794C;
}


.container-titulo {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}

.container-titulo h1 {
    font-size: x-large;
    color: #A9794C;

}


/* CONTAINER */

.container{
    display: flex;
    justify-content: space-between;
}

.tarjeta{
    text-align: center;
    width: 500px;
    height: auto;
    object-fit: cover;
    padding: 10px;
}

.tarjeta img{
    width: 100%;
    height: 100%;
    padding: 20px;
}

/* .tarjeta {
    width: 96%;
    height: 900px;
    display: flex;
    padding: 15px;
    margin: 25px ;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 5px #BDBDBD;
    background-color: rgb(247, 241, 241);
} */

.tarjeta img {
    width: 70%;
    height: 65%;
    padding-top: 40px;
    margin-left: 80px;
    object-fit: cover;

}

.info table, th, td{
   border: 1px solid black;
   margin-left: 175px;
   color: black;
   padding: 10px;
   

}

th, td{
    padding: 2px;
}



/* BOTON SOLICITA INFORMACION */



.buttonlabel {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
} 


a:hover {
background-color: #e3e3e3;
border: 1px solid rgb(187, 184, 184);
color: gray ;
}

/* SECCION FOOTER */


footer {
    background: #A9794C;
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    color: white;
}

.redes-sociales {
    padding: 30px;
    width: auto;
    height: auto;
    text-align: center;
}

.redes-sociales img {
    width: 3rem;
    height: 3rem;
    padding: 25px;
    margin-top: 10px;
}


.redes-sociales img:hover {
    cursor: pointer;
    transform: scale(1.4);
    transition: 0.4s;
}





@media (max-width:980px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}